{% extends 'myapp/base.html' %}

{% block title %}Bücherliste{% endblock %}

{% block content %}
    <h1>Bücherliste</h1>
    
    <a href="{% url 'admin:myapp_buch_add' %}" class="btn btn-primary mb-3">Neues Buch hinzufügen</a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Autor</th>
                <th>ISBN</th>
                <th>Verlag</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for buch in buecher %}
                <tr>
                    <td>{{ buch.titel }}</td>
                    <td>{{ buch.autor }}</td>
                    <td>{{ buch.ISBN }}</td>
                    <td>{{ buch.verlag }}</td>
                    <td>
                        <a href="{% url 'myapp:buch_detail' buch.id %}" class="btn btn-sm btn-info">Details</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Keine Bücher gefunden</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
